## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\18323\Desktop\Classwork\Module_6\Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,Provideniya,RU,64.3833,-173.3000,6.80,78,90,13.42,overcast clouds
1,Salalah,OM,17.0151,54.0924,69.80,68,0,4.61,clear sky
2,Busselton,AU,-33.6500,115.3333,55.00,94,74,10.27,broken clouds
3,Sabla,NG,12.7525,4.7077,76.93,16,10,8.79,clear sky
4,Vila Velha,BR,-20.3297,-40.2925,88.00,69,20,16.11,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
3,Sabla,NG,12.7525,4.7077,76.93,16,10,8.79,clear sky
4,Vila Velha,BR,-20.3297,-40.2925,88.00,69,20,16.11,few clouds
11,Avarua,CK,-21.2078,-159.7750,84.20,70,72,16.11,broken clouds
13,Touros,BR,-5.1989,-35.4608,82.40,69,0,16.11,clear sky
20,Auki,SB,-8.7676,160.7034,79.79,85,80,11.01,broken clouds
22,Bintulu,MY,3.1667,113.0333,75.20,100,40,3.02,heavy intensity rain
24,Puerto Ayora,EC,-0.7393,-90.3518,80.01,83,75,9.22,light rain
27,Rikitea,PF,-23.1203,-134.9692,80.02,70,43,12.88,scattered clouds
28,Georgetown,MY,5.4112,100.3354,80.01,94,20,4.90,few clouds
34,Vaini,TO,-21.2000,-175.2000,77.00,94,75,5.75,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()
#preferred_cities_df.isnull().sum()

City           198
Country        197
Lat            198
Lng            198
Max Temp       198
Humidity       198
Cloudiness     198
Wind Speed     198
Description    198
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna()
clean_df.count()

City           197
Country        197
Lat            197
Lng            197
Max Temp       197
Humidity       197
Cloudiness     197
Wind Speed     197
Description    197
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Sabla,NG,76.93,clear sky,12.7525,4.7077,
4,Vila Velha,BR,88.00,few clouds,-20.3297,-40.2925,
11,Avarua,CK,84.20,broken clouds,-21.2078,-159.7750,
13,Touros,BR,82.40,clear sky,-5.1989,-35.4608,
20,Auki,SB,79.79,broken clouds,-8.7676,160.7034,
22,Bintulu,MY,75.20,heavy intensity rain,3.1667,113.0333,
24,Puerto Ayora,EC,80.01,light rain,-0.7393,-90.3518,
27,Rikitea,PF,80.02,scattered clouds,-23.1203,-134.9692,
28,Georgetown,MY,80.01,few clouds,5.4112,100.3354,
34,Vaini,TO,77.00,light rain,-21.2000,-175.2000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Sabla,NG,76.93,clear sky,12.7525,4.7077,
4,Vila Velha,BR,88.00,few clouds,-20.3297,-40.2925,Hotel Vitória Palace
11,Avarua,CK,84.20,broken clouds,-21.2078,-159.7750,Paradise Inn
13,Touros,BR,82.40,clear sky,-5.1989,-35.4608,INN NEW HORIZON
20,Auki,SB,79.79,broken clouds,-8.7676,160.7034,Auki Motel
...,...,...,...,...,...,...,...
647,Gizo,SB,83.50,broken clouds,-8.1030,156.8419,Imagination Island
648,Puerto Escondido,MX,86.00,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
650,Saint-Georges,GD,82.40,scattered clouds,12.0564,-61.7485,Siesta Hotel
664,Vallenar,CL,84.24,clear sky,-28.5708,-70.7581,Humacao Bed & Breakfast
666,Paraiso,CR,78.80,few clouds,9.8383,-83.8656,Rinconcito Verde

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name'] != ""]
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
4,Vila Velha,BR,88.00,few clouds,-20.3297,-40.2925,Hotel Vitória Palace
11,Avarua,CK,84.20,broken clouds,-21.2078,-159.7750,Paradise Inn
13,Touros,BR,82.40,clear sky,-5.1989,-35.4608,INN NEW HORIZON
20,Auki,SB,79.79,broken clouds,-8.7676,160.7034,Auki Motel
22,Bintulu,MY,75.20,heavy intensity rain,3.1667,113.0333,900 Boutique INN
...,...,...,...,...,...,...,...
647,Gizo,SB,83.50,broken clouds,-8.1030,156.8419,Imagination Island
648,Puerto Escondido,MX,86.00,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
650,Saint-Georges,GD,82.40,scattered clouds,12.0564,-61.7485,Siesta Hotel
664,Vallenar,CL,84.24,clear sky,-28.5708,-70.7581,Humacao Bed & Breakfast
666,Paraiso,CR,78.80,few clouds,9.8383,-83.8656,Rinconcito Verde

In [11]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(r'C:\Users\18323\Desktop\Classwork\Module_6\Vacation_Search\WeatherPy_vacation.csv', index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
##%matplotlib inline

In [21]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
for index, row in hotel_df.iterrows():
    try:
        locations =  clean_hotel_df[["Lat", "Lng"]]
        max_temp =  clean_hotel_df["Max Temp"]
        fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
        heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
        marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
        
        
        fig.add_layer(heat_layer)
        fig.add_layer(marker_layer)
    except (IndexError):
        print("Hotel not found... skipping.")
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))